
.page1{
    padding: 0 200px;
    background-color: #0e0e0e;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    h1{
        color: #ffffff;
        font-size: 36px;
        margin: 0;
    }
    h2{
        color: #ffffff;
        font-size: 24px;
        margin: 0;
    }
    p{
        color: #ffffff;
        font-size: 18px;
        text-align: justify;
        padding-right: 20px;
    }
    .sci-btn{
        display: flex;
        align-items: center;
        .btn{
            background-color: transparent;
            color: #ffffff;
            border: 1px solid #ffffff;
            padding: 10px 20px;
            transition: .5s ease-in-out;
            text-decoration: solid;
            font-size: 18px;
            font-weight: bold;

            &:hover{
                background-color: #aaff00;
                border: 1px solid #ffffff;
                color: black;
            }
        }
        .sci{
            margin-left: 10px;
            a{
                font-size: 18px;
                color: #ffffff;
                text-decoration: none;
                border: 1px solid #ffffff;
                padding: 10px;
                margin: 0 5px;
                transition:.5s ease-in-out;
                
                &:hover{
                    background-color: #aaff00;
                    color: black;
                    border: 1px solid #ffffff;
                }
            }
        }
    }
    .img_container{
        padding: 10px;
        border: 1px solid #ffffff;
        background: transparent;
        transition: .5s ease-in-out;
        .img_box{
            overflow: hidden;
            img{
                width: 100%;
            }
        }

        &:hover{
            border: 1px solid #aaff00;
        }
    }
}

.page2{
    padding: 20px;
    background-color: #ffffff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}


@media (max-width: 768px) {
    .page1 {
        flex-direction: column;
        padding: 0 15px;
        h1 {
            font-size: 24px;
            text-align: center;
        }
        h2 {
            font-size: 18px;
            text-align: center;
        }
        p {
            padding-right: 0;
            font-size: 14px;
        }
        .sci-btn {
            flex-direction: column;
            align-items: flex-start;
            .btn {
                margin-bottom: 10px;
            }

        }
        .img_container {
            padding: 0;
        }
        .img_box {
            margin-bottom: 20px;
        }
    }
    .page2 {
        padding: 0 15px;
    }
}