.navbar{
    background-color: transparent;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 10px;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo{
        color: #ffffff;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        margin-left: 50px;
        transition: .5s ease-in-out;
                
        &:hover{
            color: #aaff00;
        }
    }
    .menu-toggle {

    }
    ul{
        list-style-type: none;
        display: flex;
        justify-content: space-between;

        
        li{
            margin-right: 20px;
            
            a{
                font: 1em sans-serif;
                color: #ffffff;
                text-decoration: none;
                padding: 10px 20px;
                transition: .5s ease-in-out;
                text-transform: uppercase;
                
                &:hover{
                    color: #aaff00;
                }
            }
            .active{
                color: #aaff00;
            }
        }
    }
}

@media (max-width: 768px) {
.navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 15px;
    position: relative;
}

/* Hide the navigation links by default and show a hamburger menu icon */
ul {
    display: none; /* Hide menu on mobile initially */
    flex-direction: column;
    width: 100%;
    background-color: #0e0e0e; /* Add background for the dropdown */
    position: absolute;
    top: 60px; /* Below the navbar */
    left: 0;
    padding: 10px 0;
}

/* Toggle display for mobile menu */
.menu-toggle {
    display: block;
    font-size: 24px;
    color: #ffffff;
    margin-right: 20px;
    cursor: pointer;
}

/* Display the menu when it's open */
.navbar.active ul {
    display: flex;
}

/* Adjust logo size and margin for mobile */
.logo {
    margin-left: 0;
    font-size: 20px;
}
}